.board {position:relative;}
.cell {height:30px; width:30px; float:left; border:1px solid #999;
       padding:1px; position:relative;}
.cell.grass {background-color:#9CA}
.cell.swamp {background-color:#226;}
.cell.woods {background-color:#3A4}
.cell.road {background-color:#AAA}
.cell.water {background-color:#66C}
.cell.rock {background-color:#885;}

.cell.move.highlight{ background-color:#CCF; border-color:#00f; }

.cell.move.highlight.selected{ padding:0px; border:2px dashed white;}
.cell.cursor{padding:0px; border:2px dashed #33C;}
.cell.cursor.blink{padding:0px; border:2px dashed #66F;}
.cell.move.highlight.selected.cursor,
.cell.cursor.selected {padding:0px; border:2px dashed #6A6;}
.cell.cursor.blink.selected{padding:0px; border:2px dashed #9D9;}

.row { position:relative;}
.kill-float{clear:both;height:0;line-height:0;}
.board .unit { height:20px; width:20px; margin:4px;
	border:2px solid black;
	border-radius:10px;-moz-border-radius:10px; -webkit-border-radius:10px; }
.board .unit.redteam {border-color:red;}
.board .unit.blueteam {border-color:blue;}

.board .unit.fup {border-top-width:6px; height:16px }
.board .unit.fdown {border-bottom-width:6px; height:16px }
.board .unit.fleft {border-left-width:6px; width:16px }
.board .unit.fright {border-right-width:6px; width:16px  }

h4.frame-title {font-size:10pt; font-weight:bold; position:absolute;
 text-style:italic; padding:0px; margin:2px; right:2px; top:2px; }

.board {position:absolute; top:0; bottom:0; left:0; 
	right:25%; overflow:auto;}
.sidebar {position:absolute; top:0; bottom:0; left:75%; width:25%;
	  border:2px solid #663;}
.sidebar span{ padding:0 2px; }
.side-frame {height:25%; border-bottom:2px solid #663; position:relative;
  width:100%; overflow:auto;}
.side-frame .content{ overflow:auto; position:relative;}
.side-frame:last-child{height:24%;}

.status h3 span { padding:0 3px;}
.initiative h3 span { padding:0 3px;}
.terrain span { padding:0 3px;}

.initiative div {border-bottom:1px solid #CC6;}